::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff00; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #888888ab; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Border radius of the scrollbar thumb */
}


*{
  padding: 0px;
  margin: 0px;
  border: none;
}

.nav-wrapper{
  background-color: rgb(31,31,31);
  display: flex;
  justify-content: center;
}

nav{
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: rgb(31, 31, 31);
  color: white;
  width: 1300px;
}

.mobile-nav{
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: rgba(18, 18, 18, 0.589);
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mobile-nav-links{
  height: 100%;
  filter: blur(10pxs);
  font-weight: 700;
}

.mobile-nav-links ul{
  font-size: 40px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

#nav-x-btn{
  font-size: 60px;
  width: 100%;
  padding: none;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}

#nav-x-btn div{
  background-color: rgba(255, 255, 255, 0.36);
  padding: 0px 30px 0px 30px;
}

.ham-btn{
  display: none;
}

nav button{
  padding: 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(65, 122, 245);
}

.page-links{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

.page-links li{
  font-size: x-large;
  padding: 10px;
  transition: .3s;
  border-radius: 5px;
}

.page-links li:hover{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.219);
  border-radius: 5px;
  padding: 10px;
  transition: .3s;
}

.car-wrap {
  position: relative;
  height: 70vh;
  background-image: url(./assets/car-detailing-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-position-x: -250px; */
  /* background-position-y: -150px; */
}

.shade {
  background-color: rgba(251, 251, 251, 0.308);
  width: 100%;
  height: 100%;
  position: absolute;
}

.front-page-content{
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.call-btn{
  display: flex;
  font-size: 15px;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  background-color: rgb(31,31,31);
  gap: 8px;

}

.call-btn-top-section{
  display: flex;
  justify-content: center;
}


#call-about-section{
  font-weight: 800;
  font-size: 20px;
}

#call-number-about-section{
  color: rgb(65, 122, 245);
}

.shade div {
  text-align: center;
  padding-top: 20px;
}

.shade p {
  font-size: larger;
  font-weight: 600;
  color: aliceblue;
}

.services{
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url(./assets/Houston-4.jpg);
  background-size: cover;
  /* background-attachment: fixed; */
  display: flex;
  justify-content: center;
}

.services h1{
  text-align: center;
  font-size: 60px;
  padding-bottom: 1.5rem;
}

.service-action{
  width: 850px;
  position: relative;
}

.service-option-wrapper-1{
  padding: 1.8rem;
  background-color: rgba(77, 77, 77, 0.144);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin-top: 1.6rem;
}

.service-title{
  font-size: 13px;
  position: absolute;
  left: 25px;
  bottom: 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  color: aliceblue;
  background-color: rgba(46, 46, 46, 0.646);
}

.card{
  width: 270px;
  height: 360px;
  /* border-radius: 5px; */
  position: relative;
  /* z-index: 2; */
  transition: 0.1s ease-out;
}

.card-container{
  display: flex;
  gap: 20px;
}

.card:hover .card-image{
  filter: blur(5px);
  background-size: 120%;
  transition: 0.1s ease-in;
}

.card-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(0px);
  box-shadow: 10px 10px 30px rgb(0, 0, 0);
  transition: filter 0.3 ease;
  border-radius: 10px;
}

.card-info{
  position: absolute;
  top: -200px;
  color: aliceblue;
  margin: 10px;
  background-color: rgba(46, 46, 46, 0.646);
  border-radius: 8px;
  /* z-index: 1; */
  padding: 10px;
}

.info-call-btn{
  padding: 8px;
  border-radius: 3px;
  background-color: rgb(239, 240, 241);
  transition: 0.3s ease-out;
}

.info-call-btn:hover{
  padding: 8px;
  border-radius: 3px;
  color: aliceblue;
  background-color: rgb(65, 122, 245);
  transition: 0.3s ease-in-out;
}

.info-contact-btn{
  padding: 8px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  color: aliceblue;
  border: 0.1px solid aliceblue;
  transition: 0.3s ease-out;
}

.info-contact-btn:hover{
  padding: 8px;
  border-radius: 3px;
  background-color: rgb(65, 122, 245);
  border: 0.1px solid rgb(65, 122, 245);
  color: aliceblue;
  transition: 0.3 ease-in-out;
}

.card:hover .card-info{
  top: 0px;
  transition: 0.3s;
}

.card:not(:hover) .card-info{
  top: -300px;
  transition: 0.3s;
}

.card-wrapper{
  width: 855px;
  display: flex;
  overflow-x: hidden;
}

@keyframes zoom {
  0% {
    background-size: 200%;
  }
  100% {
    background-size: 300%;
  }
} 



@keyframes zoomOut {
  0% {
    background-size: 300%; /* Zoomed state */
  }
  100% {
    background-size: 200%; /* Back to original state */
  }
}


/* services in the carousel */

/* service 1 */

.card #service-1:hover{
  animation: zoom 0.3s forwards;
}

.card #service-1:not(:hover) {
  animation: zoomOut 0.3s; /* Apply the zoom out animation when not hovered */
}

#service-1{
  background-image: url(./assets/car-wrap-labor.jpg);
  background-size: cover;
  transition: 0.3s ease-out;
  overflow: hidden;
}

#service-container{
  transition: transform 0.3s ease;
}

/* service 2 */

.card #service-2:hover{
  animation: zoom 0.3s forwards;
}

.card #service-2:not(:hover) {
  animation: zoomOut 0.3s; /* Apply the zoom out animation when not hovered */
}

#service-2{
  background-image: url(./assets/detailing.jpeg);
  background-size: cover;
  transition: 0.3s ease-out;
  overflow: hidden;
}

/* service 3 */

.card #service-3:hover{
  animation: zoom 0.3s forwards;
}

.card #service-3:not(:hover) {
  animation: zoomOut 0.3s; /* Apply the zoom out animation when not hovered */
}

#service-3{
  background-image: url(./assets/car-wrap.jpg);
  background-size: cover;
  transition: 0.3s ease-out;
  overflow: hidden;
}





.pointer{
  background-color: rgba(240, 248, 255, 0.658);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}



.pointer:hover{
  background-color: rgba(255, 255, 255, 0.808);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}

#right-arrow{
  position: absolute;
  right: -100px;
  bottom: 35%;
}
.right-arrow{
  position: absolute;
  top: 35%;
  right: 35%;
}

#left-arrow{
  position: absolute;
  left: -100px;
  bottom: 35%;
}
.left-arrow{
  position: absolute;
  top: 35%;
  right: 35%;
}

.our-work-section{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gallery{
  width: 1300px;
}

.gallery h1{
  width: 100%;
  text-align: center;
}

.gallery p{
  text-align: center;
}

.gallery-wall{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.pic-divider{
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(./assets/car-pics/car4.jpg);
  background-position-y: -200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 1rem;
}

.about-us-wrapper{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(3, 3, 3);
  padding-bottom: 3rem;
  padding: 3rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.about-us-section h1{
  padding-top: 30px;
  font-weight: 100px;
  font-size: 25px;
  width: 65%;
}

.about-us-section{
  width: 1300px;
  padding: 1.5rem;
}
.about-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-picture{
  width:700px;
}


.contact-container{
  background-image: url(./assets/car-pics/car1.jpg);
  background-position-y: -150px;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:local;
}

.contact-wrapper{
  display: flex;
  justify-content: center;
}

.contact-section{
  padding: 1rem;
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  background-color: rgba(227, 227, 227, 0.269);
  color: aliceblue;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.contact-section h1{
  margin-top: .5rem;
  margin-bottom:1rem;
  font-size: 40px;
  font-weight: 300;
}

.contact-section input{
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.contact-section textarea{
  border-radius: 5px;
  width: 400px;
  height: 100px;
  resize: none;
}

.contact-section button{
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: rgb(65, 122, 245);
}

.footer-wrapper{
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
  align-items: center;
}

.contact-methods span{
  font-size: 30px;
  text-decoration: underline;
}

.contact-container{
  display: flex;
  justify-content: center;
}

.contact-options{
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
  /* background-color: blue; */
  padding: 0.5rem;
}

.contact-option{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}


.google-map{
  display: flex;
  flex-direction: column;
}

.google-map span{
  font-size: 30px;
  text-decoration: underline;
}

.footer-divider{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer{
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  text-align: center;
  padding: 1.5rem;
}



@media screen and (max-width: 1300px){
  .reviews-container{
    width: 900px;
  }

  .about-picture{
    width: 500px;
  }

  .contact-options{
    display: none;
  }
}

@media screen and (max-width: 850px){
  .reviews-container{
    width: 500px;
  }
  .about-picture{
    display: none;
  }

  .contact-container{
    background-position: 0px;
  }

  .footer-divider{
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .contact-section textarea{
    width: 300px;
    height: 10px;
  }

}

@media screen and (max-width: 780px){
  .service-action{
    width: 290px;
  }

  .car-wrap{
    height: 50vh;
    background-position-x: -400px;
    background-position-y: -100px;
  }

  .card-wrapper{
    width: 290px;
  }

  .page-links{
    display: none;
  }

  .ham-btn{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .ham-btn-line{
    background-color: white;
    width: 35px;
    height: 5px;
  }
  

}

@media screen and (max-width: 550px){

  .gallery-wall{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 10px;
  }

  .our-work-img{
    width: 100%;
  }

  .services h1{
    font-size: 35px
  }

  .about-us-wrapper{
    padding: 5px 10px 5px 10px;
  }

  .about-section h1{
    font-size: 15px;
  }

  #call-about-section{
    font-size: 15px;
  }


  .review-text{
    width: 220px;
    overflow-wrap: normal;
  }

  .review-div{
    width: 220px;
    font-size: 10px;
    margin:0px 10px 0px 10px;
  }
  .service-action{
    width: 100%;
  }

  .card-wrapper{
    padding: 15px;
    width: 340px;
  }

  .reviews-container{
    width: 270px;
  }

  .footer-wrapper{
    justify-content: flex-start;
  }

  .footer-logo{
    width: 200px;
  }

  .front-page-header{
    font-size: 20px;
  }
}