*{
  padding: 0px;
  margin: 0px;
  border: none;
}

.nav-wrapper{
  background-color: rgb(31,31,31);
  display: flex;
  justify-content: center;
}

nav{
  padding: 1rem;
  display: flex;
  gap: 30px;
  background-color: rgb(31, 31, 31);
  color: white;
  width: 1300px;
}

nav button{
  padding: 12px;
  border-radius: 20px;
  background-color: rgb(65, 122, 245);
}

.page-links{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
}

li:hover{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  color: rgb(0, 183, 255);
}

.shade {
  background-color: rgba(0, 0, 0, 0.212);
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 120px;
}

.car-wrap {
  position: relative;
  height: 70vh;
  background-image: url(./assets/car-wrap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#call-about-section{
  font-weight: 800;
  font-size: 20px;
}

#call-number-about-section{
  color: rgb(65, 122, 245);
}

.shade div {
  text-align: center;
  padding-top: 20px;
}

.shade p {
  font-size: larger;
  font-weight: 600;
  color: aliceblue;
}

.services{
  color: aliceblue;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url(./assets/black-texture.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.services h1{
  text-align: center;
  font-size: 60px;
  padding-bottom: 1.5rem;
}

.service-action{
  width: 1300px;
}

.service-option-wrapper-1{
  padding: 1.8rem;
  background-color: rgba(255, 255, 255, 0.144);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  margin-top: 1.6rem;
}

#service-2{
  background-color: rgba(255, 255, 255, 0.144);
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
}

#service-3{
  background-color: rgba(255, 255, 255, 0.144);
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
}

.image-service-1{
  background-image: url(./assets/car-wrap-labor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 550px;
  height: 300px;
  background-position-y: -50px;
  border-radius: 15px;
}

.image-service-2{
  background-image: url(./assets/detailing.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 550px;
  height: 300px;
  background-position-y: -50px;
  border-radius: 15px;
}

.image-service-3{
  background-image: url(./assets/car-wrap-labor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 550px;
  height: 300px;
  background-position-y: -50px;
  border-radius: 15px;
}

.service-option-1{
  display: flex;
  justify-content: space-evenly;
  align-items:center ;
}

.service-title{
  font-size: 60px;
}

.service-text{
  width: 650px;
}

.service-option span{
  font-size: 40px;
  text-decoration: underline;
}

.our-work-section{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.gallery{
  width: 1300px;
}

.gallery h1{
  width: 100%;
  text-align: center;
}

.gallery p{
  text-align: center;
}

.gallery-wall{
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.pic-divider{
  width: 100%;
  height: 70vh;
  background-image: url(./assets/pic-div.jpg);
  background-position-y: -200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.about-us-wrapper{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(3, 3, 3);
  padding-bottom: 3rem;
  padding: 3rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.about-us-section h1{
  padding-top: 30px;
  font-weight: 100px;
  font-size: 25px;
  width: 65%;
}

.about-us-section{
  width: 1300px;
  padding: 1.5rem;
}

.about-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-picture{
  width:700px;
}

.contact-wrapper{
  display: flex;
  justify-content: center;
}

.contact-section{
  margin: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  border-radius: 15px;
}

.contact-section h1{
  margin-top: .5rem;
  margin-bottom:1rem;
  font-size: 40px;
  font-weight: 300;
}

.contact-section input{
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.contact-section textarea{
  border-radius: 10px;
  width: 400px;
  height: 150px;
}

.contact-section button{
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: rgb(65, 122, 245);
}

.footer-wrapper{
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
  align-items: center;
}

.contact-methods span{
  font-size: 30px;
  text-decoration: underline;
}

.front-page-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.google-map{
  display: flex;
  flex-direction: column;
}

.google-map span{
  font-size: 30px;
  text-decoration: underline;
}

.footer-divider{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer{
  background-color: rgb(26, 26, 26);
  color: aliceblue;
  text-align: center;
  padding: 1.5rem;
}